 @import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Creepster&family=Parisienne&display=swap');

 * {
     padding: 0;
     margin: 0;
     outline: none;
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
     position: relative;
 }

 body {
     max-width: 100svw;
     height: 100svh;
     max-height: 100svh;

     font-family: "Calligraffitti", cursive;
     font-weight: 400;
     font-style: normal;
 }

 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: rgb(0, 0, 0);
 }

 .logo {
     display: flex;
     gap: 10px;
     flex-direction: column;
     align-items: center;
     padding: 10px;
     margin: 10px;
     color: white;
     font-size: 20px;
 }

 .logo span {
     color: #4a8ed6dc;

 }

 nav {
     display: flex;
     gap: 20px;
     align-items: center;
     margin: 10px;
     padding: 10px;
 }

 nav a {
     color: white;
     font-size: 25px;
 }

 .nav:hover {
     background-color: #4a8ed6dc;
     border-radius: 20px;
     border-color: #4a8ed6dc;
     color: white;
     padding: 10px 20px;
     margin: 10px;
 }

 .home {
     background-color: #4a8ed6dc;
     padding: 10px 20px;
     margin: 10px;
     border-radius: 20px;
     border-color: #4a8ed6dc;
 }

 .main {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 30px;
     min-height: 40vh;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 30px;
 }

 main a {
     color: #4a8ed6dc;
 }

 .project {
     width: 25%;
     height: 200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 15px;
     background-color: white;
     box-shadow: 0px 0px 7px gray;
     transition: 1s;
 }

 #animi1:nth-child(2){
background-color: black;
color: #4a8ed6dc;
}
#pro1:hover{background-color:black ;
color: #4a8ed6dc;
}
#pro3:hover{background-color:black ;
color: #4a8ed6dc;
}
footer{
background-color: black;
}
footer h2{
font-size: 25px;
color: white;
padding: 10px 20px;
}
footer p{
  color: white;
  padding: 0px 10px;
  font-size: 25px;
}

.links2{
display: flex;
gap: 10px;
padding: 10px 20px;
}
.links2 a i{

  color:#4a8ed6dc ;
}
.developer{border-top: 2px solid rgba(128, 128, 128, 0.407);
  display: flex;
  justify-content: center;
  align-items: center;
}