@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Creepster&family=Parisienne&display=swap');
*{
padding: 0;
margin: 0;
outline: none;
text-decoration: none;
list-style: none;
box-sizing: border-box;
position: relative;
}
body{max-width: 100svw;
height: 100svh;
max-height: 100svh;
 
  font-family: "Calligraffitti", cursive;
  font-weight: 400;
  font-style: normal;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
background-color:rgb(0, 0, 0) ; 
}
.logo{
display: flex;
gap: 10px;
flex-direction: column;
align-items: center;
padding: 10px;
margin: 10px;
color: white;
font-size: 20px;
}
.logo span{
color: #4a8ed6dc;

}

nav{
display: flex;
gap: 20px;
align-items: center;
margin: 10px;
padding: 10px;
}
nav a{
color: white;
font-size: 25px;
}
.nav:hover{
background-color:#4a8ed6dc ;
border-radius: 20px;
border-color: #4a8ed6dc;
color: white;
 padding: 10px 20px;
    margin: 10px;
}
.home{
    background-color:#4a8ed6dc ;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    border-color: #4a8ed6dc;
}
