*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
box-sizing: border-box;
position: relative;
}
body{max-width: 100svw;
height: 100svh;
max-height: 100svh;

}
header{
display: flex;
color: rgba(0, 55, 255, 0.933);
justify-content: space-between;
align-items: center;
background-color:rgba(135, 206, 250, 0.556) ;
}
h1{
font-weight: bolder;
font-size: 25px;
}
nav ul li {
text-decoration: none;
list-style: none;
}
a{text-decoration: none;
list-style: none;
font-weight: bolder;
font-size: 25px;
color: black;
}
ul{
    display: flex;
    gap: 10px;
}

.home{color:rgba(0, 55, 255, 0.933) ;
}
a:hover{
color: rgba(0, 55, 255, 0.933);
}
 main{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
background-color:rgba(135, 206, 250, 0.556) ;
}

h2{
    color:rgba(0, 55, 255, 0.933) ;
    font-size: 25px;
    margin-bottom: 10px;
}
h3{
text-transform: capitalize;
color: lightslategray;
font-size: 15px;
margin-bottom: 10px;
}
.us{
background-color: orange;
  color: white;  
border-color: orange;
padding: 10px 20px;
border-radius: 3px;
margin: 10px;
font-size: 20px;
}
.us:hover{
background-color: rgba(0, 0, 0, 0);
color: orange;
}
.sec1{ min-height: 40vh;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 15px;


}
.offer{width: 25%;
height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
background-color: white;
box-shadow:0px 0px 7px gray ;
transition:1s  ;
}
.offer:nth-child(2){
background-color: orange;
color: white;
}
.offer:hover{background-color: orange;
color: white;
}
.offer i{
font-size: 25px;

}

.about{display: flex;
justify-content: center;
align-items: center;

}
.text2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 20px;
}
.text2 h2{font-size: 30px;
    color: black;
}
.text2 p{font-size:20px ;
    margin-bottom: 15px;
}
.img2{
width: 50%;

}
.read{
padding: 10px 20px;
margin: 10px;
border-radius:5px ;
color: white;
background-color: blue;
border-color: blue;
font-size: 20px;
}
.read:hover{
background-color: rgba(0, 0, 0, 0);
color: black;
}
.services{
display: flex;
justify-content: center;
align-items: center;
margin: 20px;
padding: 20px;
gap: 20px;
}
.services h2{
color: black;
font-weight: bolder;
font-size: 25px;
}
.services p{
    font-size: 20px;
    margin: 10px;
}
.services button{
margin: 15px;
padding: 10px 20px;
font-size: 20px;
background-color: orange;
border-color: orange;
color: white;
border-radius: 5px;
}
.services button:hover{
background-color: rgba(0, 0, 0, 0);
color: black;
}
.sec2{
display: flex;
justify-content: space-between;
align-items: center;
}
form{
display: flex;
flex-direction: column;
gap: 15px;
max-width: 460px;
margin: 20px;
padding: 20px;
}
.map{
margin: 20px;
padding: 20px;
}
#area{
padding: 10px;
font-size: 16px;
border: 1 solid #ddd;
border-radius: 5px;
}
footer{
    margin-top: 30px;
    text-align: center;
    padding: 15px;
background-color: black;
color: white;

}

@media(max-width:1240px){
    .sec1{

        top: 0px;
    }
}
@media(max-width:768px){
    .sec1{
        flex-direction: column;
    
    }
    .offer img{
        width: 80%;
    }
}