
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Creepster&family=Parisienne&display=swap');
*{
padding: 0;
margin: 0;
outline: none;
text-decoration: none;
list-style: none;
box-sizing: border-box;
position: relative;
}
body{max-width: 100svw;
height: 100svh;
max-height: 100svh;
 
  font-family: "Calligraffitti", cursive;
  font-weight: 400;
  font-style: normal;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
background-color:rgb(0, 0, 0) ; 
}
.logo{
display: flex;
gap: 10px;
flex-direction: column;
align-items: center;
padding: 10px;
margin: 10px;
color: white;
font-size: 20px;
}
.logo span{
color: #4a8ed6dc;

}

nav{
display: flex;
gap: 20px;
align-items: center;
margin: 10px;
padding: 10px;
}
nav a{
color: white;
font-size: 25px;
}
.nav:hover{
background-color:#4a8ed6dc ;
border-radius: 20px;
border-color: #4a8ed6dc;
color: white;
 padding: 10px 20px;
    margin: 10px;
}
.home{
    background-color:#4a8ed6dc ;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    border-color: #4a8ed6dc;
}
main{
display: flex;
justify-content: space-between;
align-items: center;
background-color:   rgb(0, 0, 0) ;
flex-wrap: wrap;
}
main h2::after{content: "";
animation-name: animi;
animation-duration: 2s;
animation-fill-mode: both;
animation-iteration-count: infinite;
color: purple;
}
@keyframes animi{
0%{
content:"Hell" ;

}
25%{
  content: "Hello, I'm Menna Nasr";
}
50%{
content: "Hello, I'm Menna Nasr El-Din an";

}
75%{
content: "Hello, I'm Menna Nasr El-Din and I'm a";

}
100%{
  content: "Hello, I'm Menna Nasr El-Din and I'm a web developer.";
}

}
main h3{
  color:white ;
  font-size: 25px;
  margin: 10px;
  padding: 10px 20px;
}
main img{
width: 500px;
height: 500px;
border-radius: 50%;
margin: 20px;
padding: 10px 20px;
}
.links1{
display: flex;
margin: 20px;
gap: 10px;
font-size: 25px;
  color:white ;

}
.links1 a i{
  color:#4a8ed6dc ;
}
.links1 a i:hover{
color: rgb(219, 70, 92);
font-size: 40px;
}

 .main {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 30px;
     min-height: 40vh;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 30px;
 }

 .main a {
     color: #4a8ed6dc;
 }
 .button1 a{
border: 2px solid #4a8ed6dc;
color: white;
background-color: #4a8ed6dc;
 padding: 15px 15px;
margin: 15px 15px;
font-size: 20px;
border-radius: 15px;
 }
 .button1 a:hover{
background-color: black;
color: #4a8ed6dc;
 }

 .project {
     width: 25%;
     height: 200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 15px;
     background-color: white;
     box-shadow: 0px 0px 7px gray;
     transition: 1s;
     padding: 10px 20px;
     margin: 20px 20px;
 }

 #animi1:nth-child(2){
background-color: black;
color: #4a8ed6dc;
}
#pro1:hover{background-color:black ;
color: #4a8ed6dc;
}
#pro3:hover{background-color:black ;
color: #4a8ed6dc;}
#third:hover{
background-color:black ;
color: #4a8ed6dc;
}
.projects{
  border-top: 1px solid gray;
background-color: black;
background-attachment: fixed;
padding: 20px 20px;
}
.projects h2{
color: #4a8ed6dc;
font-size: 30px;

}
.h2{
display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.skills{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 20px;
}
.lang{
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
}
.lang a{
color: #4a8ed6dc;
font-size: 30px;
}
.lang a:hover{
color: rgb(209, 61, 83);
font-size: 30px;
}
.html{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
}
.css{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
}
.js{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
}
.skills{
background-color: black;
color: #4a8ed6dc;
border-top: 1px solid gray;
padding: 10px 20px;
display: flex;
justify-content: center;
}
.skills h2{
font-size: 40px;
color: #4a8ed6dc;
}

.skills img{
  
width: 300px;
height: 300px;
border-radius: 50%;
}
.contact{
background-color: black;
background-attachment: fixed;
background-repeat: no-repeat;
border-top: 1px solid gray;
}
.contact h2{
color: white;
font-size: 40px;
padding: 20px 20px;
}
.form input{
width: 400px;

}
.form textarea{
width: 400px;

}

.form form{
width: 100%;
padding: 20px 20px;
font-size: 20px;
display: flex;
flex-direction: column;
gap: 10px;
color: white;
}
input:focus{
border: 3px solid #4a8ed6dc;
border-radius: 20px;
background-color: lightpink;
padding: 10px 20px;
color: white;
font-size: 20px;
}
textarea{
width: 50%;

}
textarea:focus{
border: 3px solid lightpink;
}
textarea:focus{
border: 3px solid #4a8ed6dc;
border-radius: 20px;
background-color: lightpink;
padding: 10px 20px;
color: white;
font-size: 20px;
}
.form button{
font-size: 20px;
border-radius:20px ;
width: 150px;
padding: 10px 20px;
margin: 0px 30px;
color: rgb(255, 255, 255);
border-color: #4a8ed6dc;
background-color: #4a8ed6dc;
}
.form button:hover{
background-color: black;
color: #4a8ed6dc;
font-size: 30px;
border-color: lightpink;

}
.contact{
display: flex;
justify-content: space-between;
align-items: center;
}
iframe{
width: 400px;
height: 400px;
}
.map{
display: flex;
padding: 20px 20px;

}
footer{
background-color: black;
}
footer h2{
font-size: 25px;
color: white;
padding: 10px 20px;
}
footer p{
  color: white;
  padding: 0px 10px;
  font-size: 25px;
}

.links2{
display: flex;
gap: 10px;
padding: ;
}
.links2 a i{

  color:#4a8ed6dc ;
}
.developer{border-top: 2px solid rgba(128, 128, 128, 0.407);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(min-width:1000px){

}
@media(max-width:530px){
.navs{
  flex-direction: column;
}

}